.purpleRow  {
  display: flex;
  margin-top: 15px;
  height: 45px;
  width: calc(100vw - 20px);
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  background-color: #612940;
  color: #FFF;

  .wasteBin {
    cursor: pointer;
    position: fixed;
    right: 15px;
  }
}

.taskList, .editTask {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  overflow-y: scroll;
  height: calc(100vh - 190px);

  .task {
    display: flex;
    background-color: #FFF;
    padding: 20px;
    margin: 0 0 3px 15px;
    color: #612940;
    border-radius: 10px 0 0 10px;
    align-items: center;

    &.concluida {
      color: #D7C9CF;
    }
  }
}

.btn {
  position: absolute;
  margin-top: calc(100vh - 260px);
  right: 10px;
}

.edition {
  border: none;
  padding: 7px;
  margin: 0 0 3px 15px;
  color: #612940;
  border-radius: 10px 0 0 10px;
  width: calc(100vw - 25px);
  font-size: 24px;
  background-color: #FFF;

  &.status {
    display: flex;
    margin-top: 10px;
  }

  &.description {
    height: calc(100vh - 425px);
    border-bottom-left-radius: 0;
    position: fixed;
    bottom: 0;
    font-family: 'Rancho', sans-serif;
  }

  &.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 180px);
    width: calc(100vw - 30px);
    border-bottom-left-radius: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;

    p {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 18px;
    }

    img {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid #FFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 5px 15px 0 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//esconder o radio button padrão
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #612940;
  border-radius: 50%;
}

.container input:checked ~ .radio-button {
  background-color: #FFF;
}

//esconder círculo quando não estiver selecionado
.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .radio-button:after {
  display: block;
}

.container .radio-button:after {
 	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
  background: #612940;
  border: 2px solid #612940;

}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #FFF;
  padding: 30px 0 30px 0;
  align-items: center;
  color: #612940;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #612940;
    color: #FFF;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
}

.noRecords {
  color: #612940;
  text-align: center;
}
